<form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
    {{ form_widget(form) }}
    <div class="form-actions text-right">
        <a href="{{ path('sonata_user_profile_show') }}" class="btn btn-default">{{ "form.cancel"|trans({}, 'FOSUserBundle') }}</a>
        <button type="submit" class="btn btn-danger"><i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
